.wrapper {
  border: 2px solid lightblue;
  width: 30%;
  max-width: 50%;
  position: relative;
  margin-top: 20%;
  margin-left: 23%;
}

.listElements {
  color: rgba(255, 255, 255) !important;
}

.img {
  object-fit: cover;
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 1s;
}

.img:hover {
  cursor: pointer;
  opacity: 1;
}

.imgContainer {
  position: absolute;
  top: 4%;
  right: 2%;
  margin: 10px;
  background-color: rgb(131, 106, 131);
}