.wrapper {
  position: relative;
  margin-left: 30px;
}

.designContainer {
  margin-top: 200px;
}

.uiWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
}

.bcWrapper, .elpisWrapper, .foodWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}

.description {
  max-width: 600px !important;
  padding-left: 0.2rem;
}

