.navbarWrapper {
  float: right;
}

.taskbar {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.logo {
  float: left;
  margin-right: 1300px;
  margin-top: 10px;
}

.listItem {
  float: right;
}

.listItem > a:hover {
  color: rgb(177, 177, 151);
}

.taskbar .listItem:first-child {
  order: 1;
}

.taskbar .listItem:nth-child(2) {
  order: 2;
}

.taskbar .listItem:nth-child(3) {
  order: 3;
}

.taskbar .listItem:nth-child(4) {
  order: 4;
}

.taskbar .listItem:nth-child(5) {
  order: 5;
}

.listItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listItem > a {
  color: white;
}