.navbarWrapper {
  float: right;
}

.taskbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.listItem {
  float: right;
}

.listItem li:first-child {
  order: 1;
}

.listItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listItem > a {
  color: white;
}