
.svgContainer {
  margin-left: 10%;
  margin-top: 140px;
  display: flex;
}

.aboutCard {
  margin-bottom: 100px;
}

.experience {
  margin-top: 200px;
  margin-left: 27%;
}

.expHeader {
  color: white;
}
