.container {
  position: relative;
  display: flex;
  flex-direction: row;
  border: 2px solid salmon !important;
  display: inline-block;
  /* width: 50%; */
  /* margin: 0 auto; */
}

.explain {
  position: relative;
}

.parentContainer {
  width: 50%;
  margin: 0 auto;
}

.imgWrapper {
  margin-top: 10px;
}

.parentWrapper {
  margin-left: 0% !important;
}

.projDescript {
  color: white !important;
}

.photos {
  flex-grow: 2;
}
