.container {
  position: relative;
  display: flex !important;
  flex-direction: row;
  border: 2px solid salmon !important;
  justify-content: center;
  max-width: 1300px;
}

.explain {
  margin-left: 10%;
  margin-top: 15%;
  max-width: 800px;
}

.parentContainer {
  width: 50%;
  margin: 0 auto;
}

.imgWrapper {
  margin-top: 10px;
  width: max-content;
}

.parentWrapper {
  margin-left: 0% !important;
}

.projDescript {
  color: white !important;
}

.photos {
  flex-grow: 2;
}

.white {
  color: white;
}