.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* width: 50%; */
  /* margin: 0 auto; */
}

.explain {
  position: relative;
}

.parentContainer {
  width: 50%;
  margin: 0 auto;
}

.imgWrapper {
  margin-top: 10px;
}

.projDescript {
  color: white !important;
}
