.wrapper {
  border: 2px solid lightblue;
  width: 60%;
  height: 40%;
  max-width: 50%;
  position: relative;
  margin-top: 20%;
  margin-left: 23%;
}

.listElements {
  color: rgba(255, 255, 255) !important;
  list-style-type: lower-roman;
  display: inline;
  margin-left: 20px;
}

.img {
  object-fit: cover;
  opacity: 0.2;
  transition-property: opacity;
  transition-duration: 1s;
}

.img:hover {
  cursor: pointer;
  opacity: 1;
}

.imgContainer {
  position: absolute;
  top: 2%;
  right: 2%;
  margin: 10px;
  background-color: rgb(131, 106, 131);
}

.wrapper > div > h3 {
  color: white;
  margin-left: 10%;
  font-size: 1.5rem;
}

.paragraph {
  color: white;
  white-space: pre-wrap;
  font-size: 1rem;
}

.paragraphBox {
  margin-left: 6%;
  width: 65%;
}

.skillsHeader {
  color: white;
  margin-left: 10%;
}

