.wrapper {
  position: relative;
  margin-left: 30px;
}

.designContainer {
  margin-top: 200px;
}

.uiWrapper,
.bcWrapper,
.elpisWrapper,
.foodWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1300px;
}

.description {
  max-width: 600px !important;
  padding-left: 0.2rem;
  margin-top: -60px;
}

@media screen and (min-width: 1575px) and (max-width: 1677px) {
  .uiWrapper,
  .bcWrapper,
  .elpisWrapper,
  .foodWrapper {
    margin-left: -100px;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1575px) {
  .uiWrapper,
  .bcWrapper,
  .elpisWrapper,
  .foodWrapper {
    margin-left: -200px;
  }
}

@media screen and (min-width: 1339px) and (max-width: 1480px) {
  .uiWrapper,
  .bcWrapper,
  .elpisWrapper,
  .foodWrapper {
    margin-left: -300px;
  }

  .designContainer {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1339px) {
  .uiWrapper,
  .bcWrapper,
  .elpisWrapper,
  .foodWrapper {
    margin-left: -200px;
    column-gap: 2px;
  }

  .designContainer {
    margin-left: 25%;
    margin-right: 18px;
  }
}

@media screen and (min-width: 859px) and (max-width: 1279px) {
  .designContainer {
    margin-left: 10%;
  }
}

@media screen and (max-width: 858px) {
  .designContainer {
    margin-left: -5%;
  }
}
