.wrapper {
  position: relative;
  margin-left: 30px;
}

.designContainer {
  margin-top: 200px;
}

.uiWrapper,
.bcWrapper,
.elpisWrapper,
.foodWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1300px;
}

.description {
  max-width: 600px !important;
  padding-left: 0.2rem;
  margin-top: -60px;
}

@media screen and (min-width: 1400px) and (max-width: 1480px) {
  .designContainer {
    margin-left: 20%;
  }
}

@media screen and (min-width: 920px) and (max-width: 1400px) {
  .designContainer {
    margin-left: 10%;
  }
}

@media screen and (min-width: 740px) and (max-width: 920px) {
  .designContainer {
    margin-left: 0%;
  }
}

@media screen and (min-width: 642px) and (max-width: 740px) {
  .designContainer {
    margin-left: -15%;
  }
}

@media screen and (max-width: 642px) {
  .designContainer {
    margin-left: -20%;
  }
}
