.tab {
  float: left;
  width: 16%;
  height: 300px;
  background-color: #080835;
}

.tab button {
  display: block;
  background-color: inherit;
  color: lightblue;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tabLinks {
  color: white;
}

.tab button:hover {
  background-color: #800080;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #80008071;
}

/* Style the tab content */
.tabContent {
  float: left;
  padding: 0px 0px 0px 25px;
  width: 35%;
  border-left: none;
  height: 300px;
  color: white;
  line-height: 1.6;
}

.experience-container {
  margin-bottom: 100px;
  overflow: hidden;
}

.experHeader {
  margin-left: 20px;
}

@media screen and (min-width: 902px) and (max-width: 1520px) {
  .tab, .expElement {
    height: 500px;
  }
}

@media screen and (max-width: 1320px) {
  .expElement > li {
    width: 300px;
  }
}


@media screen and (max-width: 1083px) {
  .tab {
    width: 30%;
  }
}

@media screen and (max-width: 901px) {
  .tab, .expElement {
    height: 700px;
  }
}

/* @media screen and (max-width: 722px) {
  .tab {
    margin-left: -20px;
  }
} */



