.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  margin: 0.5rem;
}

.taskbar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.listItem {
  list-style-type: none;
}

.listItem a {
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.listItem > a {
  color: #a887fa;
}


.listItem > a:hover {
  color: rgb(255, 255, 255);
}

.taskbar .listItem:first-child {
  order: 1;
}

.taskbar .listItem:nth-child(2) {
  order: 2;
}

.taskbar .listItem:nth-child(3) {
  order: 3;
}

.taskbar .listItem:nth-child(4) {
  order: 4;
}

.taskbar .listItem:nth-child(5) {
  order: 5;
}

