.container {
  overscroll-behavior-y: none;
}

.intro,
.aboutCard,
.skillsList,
.designs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.svgContainer {
  padding-top: 140px;
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.aboutCard {
  margin-bottom: 200px;
}

.expHeader {
  margin-bottom: 100px;
}

.experience {
  padding-top: 200px !important;
  margin: 0 auto !important;
  width: 60%;
  /* padding-left: 300px; */
  min-height: 700px;
}

.projects {
  padding-top: 200px !important;
  margin: 0 auto !important;
  width: 70%;
}

.moreProjects, .classwork {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
}

.moreProjHeader {
  margin-bottom: 50px;
}

.educationHeader {
  margin-bottom: 100px;
}

.expHeader,
.educationHeader,
.designHeader,
.moreProjHeader,
.classworkHeader {
  color: #e6c6f5;
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.education {
  margin-bottom: 200px;
}

.designs {
  margin-top: 50px;
  margin-bottom: 10%;
  position: relative;
}

.educationHeader {
  margin-left: 300px;
}

.icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: auto;
}

.icons > h2 {
  margin-left: 31%;
  font-size: 35px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1370px) {
  .designHeader {
    margin-bottom: -25px;
  }
}

@media screen and (max-width: 1268px) {
  .skillsList {
    margin: 0 auto;
    width: 70%;
  }
}

@media screen and (max-width: 1252px) {
  .svgContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 722px) {
  .experience {
    margin-left: 12%;
  }
}

@media screen and (min-width: 1232px) and (max-width: 1300px) {
  .moreProjects {
    margin-left: 200px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1232px) {
  .moreProjects {
    margin-left: 100px;
  }
}
