.container {
  overscroll-behavior-y: none;
}

.svgContainer {
  margin-left: 10%;
  margin-top: 140px;
  display: flex;
}

.aboutCard {
  margin-bottom: 200px;
}

.skillsList {
  margin-left: 30%;
  display: inline-block;
}

.expHeader {
  margin-bottom: 100px;
}

.experience {
  margin-top: 200px;
  margin-left: 27%;
  min-height: 700px;
}

.projects {
  margin-left: 16%;
}

.moreProjects {
  margin-top: 200px;
  margin-left: 20%;
}

.moreProjHeader {
  margin-bottom: 50px;
}

.educationHeader {
  margin-bottom: 100px;
}

.expHeader,
.educationHeader,
.designHeader,
.moreProjHeader {
  color: #e6c6f5;
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.education {
  margin-bottom: 200px;
}

.designs {
  margin-top: 50px;
  margin-left: 20%;
  margin-bottom: 10%;
  position: relative;
}

.designHeader {
  position: absolute;
  top: -4%;
  left: 3%;
}

.educationHeader {
  margin-left: 300px;
}

.icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: auto;
}

.icons > h2 {
  margin-left: 31%;
  font-size: 35px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 430px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1370px) {
  .designHeader {
    margin-bottom: -25px;
  }
}

@media screen and (max-width: 1252px) {
  .svgContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 722px) {
  .experience {
    margin-left: 12%;
  }
}

@media screen and (min-width: 1232px) and (max-width: 1300px) {
  .moreProjects {
    margin-left: 200px;
  }
}

@media screen and (min-width: 900px) and (max-width: 1232px) {
  .moreProjects {
    margin-left: 100px;
  }
}
