.container {
  overscroll-behavior-y: none;
}

.svgContainer {
  margin-left: 10%;
  margin-top: 140px;
  display: flex;
}

.aboutCard {
  margin-bottom: 100px;
}

.experience {
  margin-top: 200px;
  margin-left: 27%;
}

.projects {
  margin-left: 16%;
}

.expHeader,
.designHeader {
  color: #e6c6f5;
  font-size: 1.8rem;
  white-space: pre-wrap;
}

.designs {
  margin-top: 50px;
  margin-left: 15%;
  margin-bottom: 10%;
  position: relative;
}

.designHeader {
  position: absolute;
  top: -4%;
  left: 3%;
}

.icons {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-right: auto;
  margin-bottom: 100px;
}

.icons > h2 {
  margin-left: 31%;
  font-size: 35px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 430px;
}

@media screen and (max-width: 1252px) {
  .svgContainer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 722px) {
  .experience {
    margin-left: 12%;
  }
}

@media screen and (max-width: 1516px) {
  .projects {
    /* margin-left: 1%; */
  }
}
