.listElement {
  color: white;
  display: inline;
  margin-left: 2%;
}

.list {
  list-style: none;
  white-space: nowrap;
  margin-left: -50px;
}

.container {
  position: absolute;
  top: 60%;
  left: 20%;
}
