.header,
.paragraph {
  color: white;
}

.header {
  font-size: 1.5rem;
}

.paragraph {
  font-size: 1rem;
}

.designCtn {
  margin-left: 27%;
  margin-top: -7.5%;
}

@media screen and (min-width: 1373px) and (max-width: 1495px) {
  .designWrapper {
    margin-left: -10%;
  }
}

@media screen and (min-width: 1040px) and (max-width: 1373px) {
  .designWrapper {
    margin-left: -20%;
  }
}

@media screen and (max-width: 1252px) {
  .designWrapper {
    margin-left: 0%;
  }

  .programWrapper {
    margin-left: 20%;
  }

  .designCtn {
    margin-top: -25%;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 841px) {
  .designWrapper {
    margin-left: -20%;
  }

  .programWrapper {
    margin-left: -2%;
  }
}
