.header, .paragraph {
  color: white;
}

.header {
  font-size: 1.5rem;
}

.paragraph {
  font-size: 1rem;
}

.designCtn {
  position: absolute;
  top: 120%;
  left: 20%;
}

.programCtn {
  position: absolute;
  top: 120%;
  left: 55%;
}